---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?q=30.2766200,-97.7397670
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 76fee2ad74d54759a4440732261102
      Authorization: "[FILTERED]"
      key: "[FILTERED]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '9999983'
      Cdn-Proxyver:
      - '1.43'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 02/12/2026 23:18:35
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Requestid:
      - 040ad3a7868fdea144d8d24b91eb0d49
      Cdn-Cache:
      - MISS
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Austin","region":"Texas","country":"United States
        of America","lat":30.267,"lon":-97.743,"tz_id":"America/Chicago","localtime_epoch":1770938317,"localtime":"2026-02-12
        17:18"},"current":{"last_updated_epoch":1770938100,"last_updated":"2026-02-12
        17:15","temp_c":27.2,"temp_f":81.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":6.3,"wind_kph":10.1,"wind_degree":161,"wind_dir":"SSE","pressure_mb":1017.0,"pressure_in":30.04,"precip_mm":0.0,"precip_in":0.0,"humidity":46,"cloud":75,"feelslike_c":28.1,"feelslike_f":82.6,"windchill_c":25.5,"windchill_f":77.9,"heatindex_c":26.3,"heatindex_f":79.4,"dewpoint_c":15.5,"dewpoint_f":59.8,"vis_km":16.0,"vis_miles":9.0,"uv":0.1,"gust_mph":8.9,"gust_kph":14.3,"short_rad":0.0,"diff_rad":0.0,"dni":0.0,"gti":0.0},"forecast":{"forecastday":[{"date":"2026-02-12","date_epoch":1770854400,"day":{"maxtemp_c":26.7,"maxtemp_f":80.1,"mintemp_c":9.4,"mintemp_f":48.9,"avgtemp_c":18.4,"avgtemp_f":65.1,"maxwind_mph":8.3,"maxwind_kph":13.3,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":57,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":1.3},"astro":{"sunrise":"07:14
        AM","sunset":"06:17 PM","moonrise":"03:53 AM","moonset":"01:46 PM","moon_phase":"Waning
        Crescent","moon_illumination":28,"is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1770876000,"time":"2026-02-12
        00:00","temp_c":15.4,"temp_f":59.7,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.0,"wind_kph":6.5,"wind_degree":46,"wind_dir":"NE","pressure_mb":1023.0,"pressure_in":30.2,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":59,"cloud":0,"feelslike_c":15.7,"feelslike_f":60.3,"windchill_c":15.7,"windchill_f":60.3,"heatindex_c":15.4,"heatindex_f":59.7,"dewpoint_c":7.0,"dewpoint_f":44.5,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":7.1,"gust_kph":11.4,"uv":0,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},{"time_epoch":1770879600,"time":"2026-02-12
        01:00","temp_c":14.6,"temp_f":58.3,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.1,"wind_kph":5.0,"wind_degree":41,"wind_dir":"NE","pressure_mb":1023.0,"pressure_in":30.21,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":59,"cloud":0,"feelslike_c":[...]
