---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?q=%7B%22lat%22%20=%3E%20%2230.2766200%22,%20%22lon%22%20=%3E%20%22-97.7397670%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 76fee2ad74d54759a4440732261102
      Authorization: "[FILTERED]"
      key: "[FILTERED]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '9999983'
      Cdn-Proxyver:
      - '1.43'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 02/13/2026 22:02:26
      Cdn-Edgestorageid:
      - '1348'
      Cdn-Requestid:
      - fc2c831d789051704bea08a22cf6fb1c
      Cdn-Cache:
      - MISS
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Bu Lon","region":"","country":"Vietnam","lat":11.7833,"lon":107.2833,"tz_id":"Asia/Ho_Chi_Minh","localtime_epoch":1771020108,"localtime":"2026-02-14
        05:01"},"current":{"last_updated_epoch":1771023600,"last_updated":"2026-02-14
        06:00","temp_c":20.9,"temp_f":69.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.5,"wind_kph":4.0,"wind_degree":34,"wind_dir":"NE","pressure_mb":1010.0,"pressure_in":29.84,"precip_mm":0.0,"precip_in":0.0,"humidity":82,"cloud":18,"feelslike_c":20.9,"feelslike_f":69.6,"windchill_c":20.9,"windchill_f":69.6,"heatindex_c":20.9,"heatindex_f":69.6,"dewpoint_c":17.7,"dewpoint_f":63.8,"vis_km":10.0,"vis_miles":6.0,"uv":0.0,"gust_mph":5.2,"gust_kph":8.3,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},"forecast":{"forecastday":[{"date":"2026-02-14","date_epoch":1771027200,"day":{"maxtemp_c":34.3,"maxtemp_f":93.8,"mintemp_c":20.2,"mintemp_f":68.3,"avgtemp_c":25.3,"avgtemp_f":77.5,"maxwind_mph":5.4,"maxwind_kph":8.6,"totalprecip_mm":1.07,"totalprecip_in":0.04,"totalsnow_cm":0.0,"avgvis_km":9.6,"avgvis_miles":5.0,"avghumidity":72,"daily_will_it_rain":1,"daily_chance_of_rain":84,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":2.1},"astro":{"sunrise":"06:13
        AM","sunset":"05:58 PM","moonrise":"03:38 AM","moonset":"03:13 PM","moon_phase":"Waning
        Crescent","moon_illumination":12,"is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1771002000,"time":"2026-02-14
        00:00","temp_c":21.6,"temp_f":70.9,"is_day":0,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/night/143.png","code":1030},"wind_mph":2.7,"wind_kph":4.3,"wind_degree":62,"wind_dir":"ENE","pressure_mb":1012.0,"pressure_in":29.88,"precip_mm":0.01,"precip_in":0.0,"snow_cm":0.0,"humidity":95,"cloud":76,"feelslike_c":21.6,"feelslike_f":70.9,"windchill_c":21.6,"windchill_f":70.9,"heatindex_c":24.3,"heatindex_f":75.8,"dewpoint_c":20.7,"dewpoint_f":69.3,"will_it_rain":1,"chance_of_rain":72,"will_it_snow":0,"chance_of_snow":0,"vis_km":2.0,"vis_miles":1.0,"gust_mph":5.6,"gust_kph":9.1,"uv":0,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},{"time_epoch":1771005600,"time":"2026-02-14
        01:00","temp_c":20.9,"temp_f":69.5,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":2.5,"wind_kph":4.0,"wind_degree":55,"wind_dir":"NE","pressure_mb":1011.0,"pressure_in":29.86,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":93,"cloud":28[...]
