<h3>Oh Dear. There's an issue</h3>
<p>Looks like we're having an issue finding weather facts for that address.</p>
<p>May we suggest you try again? Hint: You can try with just your postal code an country code (i.e. 78070 US). Go ahead, try it!</p>